header {
  background-color: black;
}
.home-header-h1 {
  font-size: 48px;
  text-align: center;
}
a {
  font-size: 36px;
  text-decoration: none;
  text-align: center;
  font-family: $font-texts;
  border-radius: 15px;
  background-color: $button-color;
  color: $button-text-color;
}
a:hover {
  background-color: $font-color;
}

h1 {
  font-family: $font-headings;
  color: $heading-color;
  text-align: center;
  font-size: 72px;
}

.project-boxes {
  background-color: #c4c4c4;
  font-family: $font-texts;
  color: $button-text-color;
  border-radius: 10px;
  box-shadow: 3px 3px $button-text-color;
  opacity: 0.8;
}
.project-boxes:hover {
  opacity: 1;
}
h2 {
  font-family: $font-headings;
  color: $heading-color;
  font-size: 48px;
}
p {
  font-family: $font-texts;
  font-size: 36px;
  color: $font-color;
  margin-bottom: 2%;
}

footer {
  background: linear-gradient(180deg, rgba(88, 1, 230, 0) 0%, #130031 100%);
}
.footer-heading {
  font-size: 72px;
}
.footer-heading2 {
  font-family: $font-headings;
  color: $heading-color;
  font-size: 72px;
}
