header {
  background-color: black;
}
.home-header-h1 {
  color: $heading-color;
  font-size: 48px;
  font-family: $font-headings;
  text-align: center;
}
a {
  font-size: 36px;
  text-decoration: none;
  text-align: center;
  font-family: $font-texts;
  border-radius: 10px;
  background-color: $button-color;
  color: $button-text-color;
}

footer {
  background: linear-gradient(180deg, rgba(88, 1, 230, 0) 0%, #130031 100%);
}
.footer-heading {
  font-family: $font-headings;
  color: $heading-color;
  font-size: 72px;
}
.footer-heading2 {
  font-family: $font-headings;
  color: $heading-color;
  font-size: 72px;
}
