@import url('https://fonts.googleapis.com/css2?family=Risque&family=Roboto&display=swap');

$font-headings: 'Risque', serif;
$font-texts: 'Roboto', sans-serif;
$button-color: #393939;
$button-text-color: #7102ff;
$heading-color: #ffffff;
$font-color: #e4d0fe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media only screen and (max-width: 620px) {
    body {
      width: 100%;
    }
    .contact-a-div {
      display: grid;
      grid-template-columns: 1f;
    }
    .contact-a {
      width: 100px;
      height: 100%;
    }
  }
}
