.page-background {
  background: url(../assets/portfolio-background.jpg);
  background-size: cover;
}
.home-background {
  background: url(../assets/portfolio-wolf.jpg);
  background-size: cover;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  nav {
    width: 60%;
    height: 100%;
    margin-left: 30%;
    .nav-a {
      height: 60%;
      width: 20%;
      margin: 0% 4%;
    }
  }
}
.home-header-h1 {
  height: 90%;
  width: 30%;
}
.banner-img {
  height: 100%;
  width: 30%;
}

main {
  margin-top: 4%;
  height: 60vh;
}
.main {
  height: 80vh;
}
div {
  margin: 2% 25%;
  height: 95vh;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.project-boxes {
  margin: 5%;
  margin-left: 15%;
  width: 60%;
  height: 20vh;
  text-align: center;
}
.project-img {
  width: 100%;
  height: 80%;
}
h2 {
  margin: 1%;
}
p {
  text-align: center;
  padding: 10px;
}
.contact-a-div {
  margin: 0;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.contact-a {
  margin: 2%;
  width: 30%;
  height: 70%;
}
.contact-img {
  width: 95%;
  height: 95%;
  border-radius: 15px;
}

footer {
  height: 30vh;
}
.footer-heading {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-top: 50px;
}
.footer-heading2 {
  display: flex;
  align-items: center;
  padding-left: 8%;
}
